ul.conversation
{
  list-style:none;
  margin:0;
  padding:0;
}
ul.conversation li.message
{
  padding:.4em;
  border-bottom:1px solid #ddd;
}
ul.conversation li:nth-child(even)
{
  background-color:#efefef;
}
ul.conversation li h4,
ul.conversation li p
{
  margin:.3em 0 0 0;
  padding:0;
}
textarea[placeholder]
{
  color:#999;
}