<h3>Current Conversation <span ng-show="messages">({{ messages.length }} topics)</span></h3>
<div class="row">
	<div class="span8">
		<ul class="conversation">
			<li class="message" ng-repeat="msg in messages">
				<h4><a href="{{ msg.url }}">{{ msg.topic_name }}</a></h4>
				<p>{{ msg.description }}</p>
				<p class="posted-by-on">Mentioned by {{ msg.username}} - <span ng-date-format>{{ msg.createdOn | date:'MM/dd/YYYY @ HH:mm:ss' }}</span></p>
			</li>
			<li ng-show="messages.length == 0">No topics in this conversation</li>
		</ul>
	</div>
	<div class="span4">
		<form name="addNewTopic" ng-submit="saveNewMessage()">
			<fieldset>
				<legend>Add a New Topic</legend>
				<label>Member</label>
    			<select ng-model="newMessage.username" ng-options="value for value in users">
    			</select>
    			<div ng-switch on="newMessage.username">
    				<div ng-switch-when="null">
						<p>or</p>
						<label>Add user</label>
						<input type="text" placeholder="New username" ng-model="newMessage.newUsername" required>
	    			</div>
    			</div>
    			<label>Topic</label>
    			<input type="text" placeholder="Topic being discussed" required ng-model="newMessage.topic_name">
    			<label>URL</label>
    			<input type="url" placeholder="URL being discussed" required ng-model="newMessage.url">
    			<label>More information</label>
    			<textarea ng-model="newMessage.description"></textarea>
    			<div>
    				<button type="submit" class="btn" ng-disabled="addNewTopic.$invalid">Submit</button>
    			</div>
			</fieldset>
		</form>
	</div>
</div>